* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: brown;
}
section {
  position: relative;
  height: 50vh;
  width: 100%;
  transform-style: preserve-3d;
  perspective: 500px;
}
.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.banner .block {
  position: relative;
  display: block;
  height: 5vh;
  width: 5vw;
  background-color: #fff;
  animation: animate 2s ease-in-out forwards;
}
@keyframes animate {
  0% {
    transform: translateZ(2000px);
  }
  100% {
    transform: translateZ(0px);
  }
}
