@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
.premier_contenu {
  margin-top: 20vh;
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}
.crdsTitre {
  position: absolute;
  font-size: 2rem;
  font-family: "Orbitron", sans-serif;
  color: #fff;
  text-shadow: 1px 2px 5px #000;
  z-index: 3;
  letter-spacing: 2px;
}
.sub_title,
.sub_title2,
.sub_title3 {
  margin-top: 250px;
  position: absolute;
  font-size: 1.3rem;
  font-family: "Share Tech Mono", monospace;
  color: #fff;
  text-shadow: 1px 2px 5px #000;
  z-index: 3;
  transition: 1s ease-in-out;
  animation: 0.5s linear 0.3s running forwards translateLien;
}

.gltch,
.gltch2,
.gltch3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  height: 18vh;
  width: 13vw;
  clip-path: polygon();
  overflow: hidden;
  z-index: 4;
}

.gltch:hover,
.gltch2:hover,
.gltch3:hover {
  transition: 1.5s ease-in-out;
  animation: 0.5s linear 0.2s running forwards glitch-anim-translate;
}
.glitch {
  position: relative;
  overflow: hidden;
}
.glitch img {
  position: relative;
  z-index: 1;
  display: block;
  height: 30vw;
  width: 40vw;
}
.glitch__layers,
.glitch__layers2,
.glitch__layers3 {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.sub__layer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../asset/wallpapper/bgfive.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.sub__layer2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../asset/wallpapper/bgerrer2.jpg") no-repeat 50% 50%;
  background-size: cover;
}
.sub__layer3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../asset/wallpapper/bgone.jpg") no-repeat 50% 50%;
  background-size: cover;
}
/*LIGNE ORIGINEL*/
.sub__layer:nth-child(1),
.sub__layer2:nth-child(1),
.sub__layer3:nth-child(1) {
  transform: translateX(-5%);
  animation: glitch-anim-1 2s infinite linear alternate;
  opacity: 0.8;
}
.sub__layer:nth-child(2),
.sub__layer2:nth-child(2),
.sub__layer3:nth-child(2) {
  transform: translateX(3%) translateY(3%);
  animation: glitch-anim-2 2.3s -0.8s infinite linear alternate;
  opacity: 0.8;
}
.sub__layer:nth-child(3),
.sub__layer2:nth-child(3),
.sub__layer3:nth-child(3) {
  transform: translateX(5%);
  animation: glitch-anim-flash 3s infinite linear;
  opacity: 0.8;
}
/*LIGNE ORIGINEL FIN*/
/*LIGNE Modifié*/
.sub__layer:nth-child(4),
.sub__layer2:nth-child(4),
.sub__layer3:nth-child(4) {
  transform: translateX(-60%);
  animation: glitch-anim-1 4s infinite linear alternate;
  opacity: 0.8;
}
.sub__layer:nth-child(5),
.sub__layer2:nth-child(5),
.sub__layer3:nth-child(5) {
  transform: translateX(30%);
  animation: glitch-anim-2 4s infinite linear alternate;
  opacity: 0.8;
}
.sub__layer:nth-child(6),
.sub__layer2:nth-child(6),
.sub__layer3:nth-child(6) {
  transform: translateX(60%);
  animation: glitch-anim-1 2.5s infinite linear alternate;
  opacity: 0.8;
}
.sub__layer:nth-child(7),
.sub__layer2:nth-child(7),
.sub__layer3:nth-child(7) {
  transform: translateX(-20%);
  animation: glitch-anim-2 5s infinite linear alternate;
  opacity: 0.8;
}
.sub__layer:nth-child(8),
.sub__layer2:nth-child(8),
.sub__layer3:nth-child(8) {
  transform: translateX(20%);
  animation: glitch-anim-1 3.1s infinite linear alternate;
  opacity: 0.8;
}
/*LIGNE Modifié FIN*/
@keyframes glitch-anim-1 {
  0% {
    clip-path: polygon(0 0%, 100% 0%, 100% 5%, 0 5%);
  }
  10% {
    clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
  }
  20% {
    clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
  }
  30% {
    clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
  }
  40% {
    clip-path: polygon(0 35%, 100% 35%, 100% 35%, 0 35%);
  }
  50% {
    clip-path: polygon(0 45%, 100% 45%, 100% 46%, 0 46%);
  }
  60% {
    clip-path: polygon(0 50%, 100% 50%, 100% 70%, 0 70%);
  }
  70% {
    clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
  }
  80% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  90% {
    clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
  }
  100% {
    clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%);
  }
}
@keyframes glitch-anim-2 {
  0% {
    clip-path: polygon(0 15%, 100% 15%, 100% 30%, 0 30%);
  }
  15% {
    clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
  }
  25% {
    clip-path: polygon(0 8%, 100% 8%, 100% 20%, 0 20%);
  }
  30% {
    clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
  }
  45% {
    clip-path: polygon(0 45%, 100% 45%, 100% 45%, 0 45%);
  }
  50% {
    clip-path: polygon(0 50%, 100% 50%, 100% 57%, 0 57%);
  }
  65% {
    clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
  }
  75% {
    clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
  }
  80% {
    clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
  }
  95% {
    clip-path: polygon(0 45%, 100% 45%, 100% 60%, 0 60%);
  }
  100% {
    clip-path: polygon(0 11%, 100% 11%, 100% 15%, 0 15%);
  }
}
@keyframes glitch-anim-flash {
  0% {
    opacity: 0.6;
  }
  15% {
    opacity: 0.3;
  }
  25% {
    opacity: 0.2;
  }
  35%,
  100% {
    opacity: 0;
  }
}

/*experimentale keyframe*/
@keyframes glitch-anim-translate {
  0% {
    height: 18vw;
    width: 13vw;
    transform: translateY(0);
  }
  100% {
    height: 30vw;
    width: 30vw;
    transform: scale(1.02);
  }
}
/*experimentale keyframe*/
/*experimentale keyframe*/
@keyframes translateLien {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-40px);
  }
}
/*experimentale keyframe*/
