@media only screen and (max-width: 600px) {
  .titre_contenu {
    height: 5.5vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .titre_contenu a > img {
    height: 3vh;
    width: 80vw;
  }
  .section_contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
  }
  .premier_contenu {
    margin-top: 5vh;
    margin-bottom: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .logoContent {
    position: absolute;
    height: auto;
    width: 100%;
    overflow: hidden;
    background-color: #000;
  }
  .logoContent > img {
    margin-top: 5vh;
    height: 3vh;
    width: 100%;
  }

  .container_downform {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .subcontainer_downform {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .skill_contain {
    height: auto;
    width: 100%;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #444;
  }
  .warnning {
    text-align: center;
    height: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Manrope", sans-serif;
    border: 2px solid white;
    background-color: red;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #000;
    color: #fff;
    transform: translateY(50%);
  }
  .warnning > h3 {
    text-align: center;
  }
}
