@media only screen and (max-width: 600px) {
  .titre_contenu {
    margin-top: 1vh;
    height: 6vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .titre_contenu a > img {
    height: 3vh;
    width: 80vw;
  }
  .section_contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .contenu_secondaire {
    margin-top: 5vh;
  }
  .premier_contenu {
    margin-top: 5vh;
    margin-bottom: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .logoContent {
    position: absolute;
    height: auto;
    width: 100%;
    overflow: hidden;
    background-color: #000;
  }
  .logoContent > img {
    margin-top: 5vh;
    height: 3vh;
    width: 100%;
  }

  .container_downform {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .subcontainer_downform {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .skill_contain {
    height: auto;
    width: 100%;
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #444;
  }
  .warnning {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    font-family: "Manrope", sans-serif;
    border: 2px solid white;
    background-color: red;
    border-radius: 10px;
    box-shadow: 1px 2px 3px #000;
    color: #fff;
    transform: translateY(50%);
    text-shadow: 1px 2px 3px #000;
  }
  .warnning > h1 {
    font-size: 1.6rem;
  }
  .warnning > h3 {
    text-align: center;
  }

  /*******swiperJS******/
  .swiper {
    width: 100%;
    height: 100%;
  }
  .title_Slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .swiper-slide {
    height: 10vh;
    width: 100%;
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide i {
    font-size: 1.5rem;
    text-shadow: 1px 2px 5px black;
    color: #000;
    letter-spacing: 2px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*******swiperJS fin******/
  /**************Primary bande*********************/

  #primary_bande ul {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  #primary_bande ul li img {
    height: 100px;
    width: 100px;
  }
  #slrn {
    height: 150px;
    width: 150px;
  }
  /**************primary bande FIN*********************/
}
