@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titre_contenu {
  margin-top: 1vh;
  height: 6vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(wallpapper/bgone.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.titre_contenu a > img {
  height: 5vh;
  width: 50vw;
}
.section_contain {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}
.premier_contenu {
  margin-top: 10vh;
  margin-bottom: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}
.logoContent {
  text-align: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #000;
}
.logoContent > img {
  margin-top: 5vh;
  height: 10vh;
  width: 90%;
}
.contenu_secondaire {
  margin-top: 5vh;
  margin-bottom: auto;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.card:hover {
  transform: scale(1.03);
  transition: 0.3s ease-in-out;
  box-shadow: 1px 1px 5px #000;
}
i {
  margin: auto;
  font-size: 1.2rem;
  color: #333;
}
a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}
a:hover {
  text-decoration: underline;
}
.container_recherche {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
li {
  list-style-type: none;
}
.infoPratique {
  height: auto;
  width: 100%;
  text-align: center;
}
.infoPratique > h4 {
  text-align: center;
}
.container_downform {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.subcontainer_downform {
  height: auto;
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
p {
  font-family: "Manrope", sans-serif;
}
.myPubli_contain {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
/*******swiperJS******/
.swiper {
  width: 50vw;
  height: 100%;
  border-radius: 10px;
}
.title_Slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: #000;
  text-shadow: 1px 2px 5px #000;
}
.title_Slider i {
  color: #000;
  text-shadow: 1px 2px 5px #000;
}

.swiper-slide {
  height: 7vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide i {
  font-size: 2rem;
  text-shadow: 1px 2px 5px #000;
  color: #000;
  letter-spacing: 5px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*******swiperJS fin******/

/**************MODAL*********************/

/**************MODAL FIN*********************/

/**************skill*********************/
.skill_contain {
  height: auto;
  width: 100%;
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
/**************skill fin*********************/
/**************WOR IN PROGRESS*********************/
.warnning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: auto;
  width: 25vw;
  margin-left: auto;
  margin-right: auto;
  font-family: "Manrope", sans-serif;
  border: 2px solid white;
  background-color: red;
  border-radius: 10px;
  box-shadow: 1px 2px 3px #000;
  color: #fff;
  transform: translateY(50%);
  text-shadow: 1px 2px 3px #000;
}
.warnning > h3 {
  text-align: center;
}

/**************WOR IN PROGRESS FIN*********************/
/**************Primary bande*********************/
#primary_bande {
  height: auto;
  width: 100%;
  border-radius: 10px;
}
#primary_bande ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#primary_bande ul li img {
  padding: 5px;
  height: 150px;
  width: 150px;
}
#primary_bande ul li:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
  border-radius: 5px;
  mix-blend-mode: difference;
}
#slrn {
  height: 200px;
  width: 200px;
}
/**************primary bande FIN*********************/
/**************EFFET TRANSITION*********************/

/**************EFFET TRANSITION FIN*********************/
