/* navigation admin */
.openbtn {
  background-color: #000;
}
.openbtn > .fa-solid {
  color: #fff;
}
.admin__nav {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  backdrop-filter: blur(5px);
}
.admin__nav--item > a {
  color: #fff;
  text-shadow: 0px 0px 3px #000;
  letter-spacing: 2px;
  font-size: 1.2rem;
}
.admin__nav--item > a > i {
  color: #000;
  text-shadow: 0px 0px 3px #000;
  letter-spacing: 2px;
  font-size: 1.2rem;
}
.title__admin--pannel {
  width: 29ch;
  text-decoration: none;
  text-align: center;
}
/* navigation admin fin */
/*administration des utilisateur*/
.view__users--container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}
.tempo_msg {
  text-align: center;
}
.adm__announce--container {
  height: auto;
  width: 100vw;
  text-align: center;
}
.adm_announce {
  font-size: 1.3rem;
}
/*administration des utilisateur fin*/
