/*CRYPTO*/
.crypto__container {
  padding: 5px;
  margin-top: 5vh;
  min-height: 45vh;
  min-width: 45vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #000;
  overflow: hidden;
  border-radius: 10px;
}
.crypto__title--container {
  height: auto;
  width: 100%;
}
.crypto__title--container > h4,
h5 {
  text-align: center;
  letter-spacing: 3px;
  text-decoration: underline;
}
.crypto__title--container > h4 > span,
h5 > span {
  color: #e60000;
  font-family: "Orbitron", sans-serif;
}
.crypto__txt--container {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.crypto__txt--container > p {
  text-align: center;
  width: 45ch;
  letter-spacing: 2px;
  font-weight: 700;
}
.crypto__txt--container > a {
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s ease-in-out;
}
.crypto__txt--container > a:hover {
  text-decoration: none;
  background-color: #000;
  color: #fff;
}
.crypto__txt--container > a:hover i {
  color: #fff;
}
.crypto__txt--graph {
  margin: 0;
  height: 8vh;
  width: auto;
  filter: drop-shadow(0px 0px 2px #000);
}
.crypto__fig--ctnr {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.crypto__fig--container {
  height: auto;
  width: 25vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.crypto__fig--container > img {
  height: auto;
  width: 15vw;
  border-radius: 10px;
}
.crypto__fig--container > figcaption {
  width: 25ch;
}
/*ai*/
.ai__fig--ctnr {
  margin: 0;
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.ai__fig--container {
  height: auto;
  width: 25vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.ai__fig--container > img {
  height: 22vh;
  width: auto;
  border-radius: 10px;
}
/*ethical*/
.ethical__container {
  padding: 5px;
  margin-top: 5vh;
  height: 45vh;
  width: 97vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #000;
  overflow: hidden;
  border-radius: 10px;
}
.ethical__fig--ctnr {
  margin: 0;
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
.ethical__fig--container {
  height: auto;
  width: 25vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.ethical__fig--container > img {
  height: 28vh;
  width: auto;
  border-radius: 10px;
}
/*CRYPTO FIN*/
/* CRYPTO TRENDS */
.cryto-logo {
  margin-left: 45%;
  height: 15vh;
  width: auto;
  filter: drop-shadow(0px 0px 3px #000);
}
.crypto__container--trends {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}
.crypto__subcontainer--trends {
  height: 38vh;
  width: 25vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #000;
  margin: 8px;
}
.crypto__subcontainer--trends > h2 {
  color: #fff;
}
.crypto__subcontainer--trends > h2 > span {
  font-family: "Orbitron", sans-serif;
  color: #e60000;
}
.crypto__subcontainer--trends {
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
}
/* CRYPTO TRENDS FIN*/
/*AI TRENDS*/
.AI__container--trends {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}
.ai__subcontainer--trends {
  height: 38vh;
  width: 25vw;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #000;
  margin: 8px;
}
/*administration des i.a*/
.view__ai--container {
  min-height: 25vh;
  width: 100%;
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
}
.gestion__container--ai {
  margin: 0;
  padding: 0;
  min-height: 35vh;
  width: 100%;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}
.gestion__options--ai {
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  min-height: 15vh;
  max-width: 50vw;
  background: radial-gradient(
    circle at 10% -20%,
    #a0d9f2,
    #cbd6ff,
    #fde4d5,
    #faf0e4,
    #f8f9f0,
    #ffffff
  );
  filter: drop-shadow(0px 0px 2px #000);
}
.gestion__options--items > button {
  padding: 3px;
  border-radius: 10px;
  border: none;
  background: none;
}
.gestion__options--items > button:hover {
  text-decoration: none;
  color: #fff;
  background-color: #000;
}
.gestion__ai--separator {
  width: 4px;
  height: 25vh;
  background-color: #000;
  color: #000;
  border: none;
  border-radius: 10px;
}
.form__ai--container {
  margin: 0;
  padding: 0;
  padding: 10px;
  border-radius: 10px;
  min-height: 25vh;
  width: auto;
  display: none;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  background: radial-gradient(
    circle at 10% -20%,
    #a0d9f2,
    #cbd6ff,
    #fde4d5,
    #faf0e4,
    #f8f9f0,
    #ffffff
  );
  filter: drop-shadow(0px 0px 2px #000);
  overflow: hidden;
}
.form__ai--container > form {
  min-height: 25vh;
  width: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}
.form__ai--container > form > input[type="text"],
input[type="submit"] {
  border: none;
  border-radius: 5px;
}
.form__ai--container > form > input[type="submit"] {
  height: 4vh;
  width: 8vw;
  background-color: #999;
}
.form__ai--container > form > input[type="submit"]:hover {
  background-color: #000;
  color: #fff;
}
/*ajout de la class en javascript*/
.form__view {
  display: flex;
}
/*administration des i.a FIN*/

/*AI TRENDS FIN*/
