/*********NAVBAR***********/
.nav-link {
  height: auto;
  width: auto;
  font-size: 0.9rem;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  color: #000;
  border-radius: 10px;
  padding: 5px;
}
.nav-link:hover {
  transition: background-color 0.2s ease;
  color: #fff;
  background-color: #000;
}
.navbar {
  height: auto;
  width: 100%;
  background: radial-gradient(
    circle at 10% -20%,
    #a0d9f2,
    #cbd6ff,
    #fde4d5,
    #faf0e4,
    #f8f9f0,
    #ffffff
  );
  box-shadow: 1px 2px 8px #000;
}
.crypto__logo {
  height: 70px;
  width: auto;
}
/*********NAVBAR******FIN*****/
